**/build
build

**/obj
**/libs
**/bin
**/assets

engine/extern/*

.git
**/.git

android/jni/*
desktop/*

!desktop/CMakeLists.txt
!desktop/desktop.c*
!desktop/gl_utils.*
!**/platform_crap.h
!android/jni/Android.mk
!android/jni/Application.mk
!android/jni/main.c*

*.dll*
*.o*
*.a*
*.sw*
