**/build
build
**/obj
**/libs
**/bin
extern/*
.git
**/.git
android/jni/*
desktop/*
!desktop/desktop.c
!desktop/gl_utils.h
!desktop/gl_utils.cpp
!**/platform_crap.h
!android/jni/Android.mk
!android/jni/Application.mk
!android/jni/main.c*
*.dll*
*.o*
*.a*
*.sw*
